parameters:

    database_platform: mysql
    database_host: localhost
    database_port: 3306
    database_name: test
    database_user: root
    database_password: ~
    test_table_name: simpledbal_test